@import "config";

//Global Styles
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

section {
  padding: 6rem 0;
}
p {
  line-height: 1.5;
  font-size: 1.8rem;
  font-weight: 300;
  color: colors(main-font-dark-gray);
}
a {
  text-decoration: none;
  color: colors(main-white);
}
// Reusable Classes
.btn {
  display: inline-block;
  transition: all 650ms;
  border-radius: 3px;
  text-transform: uppercase;
}
.btn-info {
  font-size: 1.2rem;
  padding: 1rem;
  color: colors(main-font-color);
  border-bottom: 2px solid colors(main-font-color);
  margin: 2rem 0 4rem 0;
  &:hover {
    background-color: colors(main-font-color);
    color: colors(main-white);
  }
}
.custom-font {
  font-family: $main-font-family;
  color: colors(main-font-color);
  font-size: 6.5rem;
  line-height: 1;
  font-weight: 100;
}
.custom-font-secondary {
  text-transform: uppercase;
  letter-spacing: 6px;
  padding-left: 6px;
  line-height: 0.2;
  color: colors(main-font-dark-gray);
  margin-bottom: 5rem;
}
.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.between-sec {
  padding: 20rem 0;
  text-align: center;
}
.between-sec-color {
  color: colors(main-white);
}
// Header
header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent),
    url(assets/hero.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}
// Header - Nav Toggle
.menu {
  padding: 2rem 2.5rem;
  position: fixed;
  top: 3rem;
  right: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  border-radius: 3px;
  cursor: pointer;
  .bar,
  .bar::before,
  .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 4rem;
    background-color: colors(main-white);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: 650ms;
  }
  .bar::before {
    top: -2rem;
  }
  .bar::after {
    bottom: -2rem;
  }
  &.active {
    .bar {
      background-color: transparent;
    }
    .bar::before {
      transform: rotate(45deg);
    }
    .bar::after {
      transform: rotate(-45deg);
    }
    .bar::before,
    .bar::after {
      top: 0;
      bottom: 0;
    }
  }
}
// Header - Nav
.nav {
  width: 100%;
  height: 6rem;
  line-height: 6rem;
  position: relative;
  #logo {
    display: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
    border-bottom: 1px solid colors(main-white);
    margin-bottom: -5px;
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: opacity 650ms;
    transform: scale(0);
    opacity: 0;
    &.menu-open {
      transform: scale(1);
      opacity: 1;
    }
    ul {
      position: relative;
      height: 100%;
      display: flex;
      font-size: 2rem;
      flex-direction: column;
      justify-content: center;
      li {
        text-transform: uppercase;
        a {
          display: block;
          transition: all 650ms;
          &:hover,
          &:active:hover {
            color: colors(main-font-color);
          }
        }
      }
    }
  }
}
// Header - Main text
.main-text {
  line-height: 0;
  margin: auto;
  color: colors(main-white);
  user-select: none;
  h1 {
    font-family: $main-font-family;
    color: colors(main-font-color);
    font-size: 8rem;
    font-weight: 100;
    margin-bottom: 5rem;
    transform: translateY(4rem);
    opacity: 0;
    animation: 500ms fadeUp 500ms forwards;
  }
  h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-right: -5px;
    font-size: 2rem;
    line-height: 1;
    position: relative;
    transform: scale(2);
    opacity: 0;
    animation: fadeIn 500ms forwards;
    &::before,
    &::after {
      content: "";
      width: 5rem;
      height: 3px;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      background-color: colors(main-white);
      border-radius: 8px;
    }
    &::before {
      left: -2rem;
    }
    &::after {
      right: -2rem;
    }
  }
  .main-btn {
    font-size: 1.5rem;
    border: 2px solid colors(main-font-color);
    padding: 2rem 3rem;
    letter-spacing: 3px;
    margin-right: -3px;
    position: relative;
    margin-top: 3rem;
    opacity: 0;
    animation: 500ms fade 1s forwards;
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }
    &:active {
      transform: translateY(0);
      box-shadow: none;
    }
  }
}

// Section - Our Story
.store {
  width: 100%;
  min-height: 30rem;
  background: url(./assets/store.jpeg) center no-repeat;
  background-size: cover;
}
// Section - Fresh Ingredients
.fresh-ingredients {
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/between.jpeg);
  background-size: cover;
}
// Section - Our menu
.image-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  img {
    width: 100%;
    height: 100%;
  }
}
// Section - Citrus Goodness
.citrus-goodness {
  width: 100%;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/between2.jpeg);
  background-size: cover;
}
// Section - Contact us
.contact-us {
  form {
    width: 100%;
    min-width: 9rem;
    margin-top: 5rem;
    .input,
    .text-area {
      width: 100%;
      max-width: 100%;
      margin: 5px 0;
      padding: 5px 1rem;
      border-radius: 3px;
      font-size: 1.5rem;
      border: 1px solid colors(main-font-color);
      color: lighten(colors(main-font-dark-gray), 20);
      &::placeholder {
        color: lighten(colors(main-font-dark-gray), 20);
      }
    }
    .text-area {
      height: 10rem;
    }
    .btn-submit {
      background-color: colors(main-font-color);
      color: colors(main-white);
      width: 100%;
      padding: 1rem 0;
      cursor: pointer;
      &:hover {
        background-color: lighten(colors(main-font-color), 25);
      }
    }
  }
}
// Footer
footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  background-color: colors(main-footer-bg-color);
  padding: 5rem 0;
  font-size: 1.8rem;
  color: colors(main-white);
  h4 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    color: colors(main-font-color);
    font-weight: 100;
  }
  p {
    color: color(main-white);
  }
}

@import "desktop";
